@use '../custom' as *;
@use '../components/mixins' as *;
.menu{
    @include gradient;
    li {
        padding: 0 1.2rem;
    }
    a{
        color:$black;
        text-transform: capitalize;
        font-weight: 600;
    }
    .fa-brands{
        @include media-breakpoint-down(lg){
            display: none;    
        }   
    }


    


}

